@font-face {
    font-family: 'future';
        src: local('future'), 
        local('future'), 
        url('font/future.woff'); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir';
    src: local('Avenir-Heavy'),
    src: url('Avenir-Heavy.eot'),
    url('font/Avenir-Heavy.woff');
    font-weight: 900;
    font-style: normal;
}