.cats_music, .cats_applications, .cats_audiobooks, .cats_comedy, .cats_comics, .cats_ebooks, .cats_elearningvideos {
    /*display: block;*/
    width: 35px;
    height: 35px;
}

.cats_music { background: url('categories/music.svg') no-repeat center; border-right: 3px solid #26A69A;}
img[alt="Music"] {
	display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('categories/music.svg') no-repeat;
    width: 200px;
    height: 200px;
    padding-left: 200px;
    border-right: 3px solid #4CAF50;
}


.cats_applications { background: url('categories/windows.svg') no-repeat center; border-right: 3px solid #4CAF50;}
img[alt="Applications"] {
	display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('categories/windows.svg') no-repeat;
    width: 200px;
    height: 200px;
    padding-left: 200px;
    border-right: 3px solid #4CAF50;
}

.cats_audiobooks { background: url('categories/audiobooks.svg') no-repeat center; border-right: 3px solid #78909C;}
img[alt="Audiobooks"] {
	display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('categories/audiobooks.svg') no-repeat;
    width: 200px;
    height: 200px;
    padding-left: 200px;
    border-right: 3px solid #78909C;
}

.cats_comedy { background: url('categories/comedy.svg') no-repeat center; border-right: 3px solid #FF5722;}
img[alt="Comedy"] {
	display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('categories/music.svg') no-repeat;
    width: 200px;
    height: 200px;
    padding-left: 200px;
    border-right: 3px solid #FF5722;
}

.cats_comics { background: url('categories/comic.svg') no-repeat center; border-right: 3px solid #673AB7;}
img[alt="Comics"] {
	display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('categories/music.svg') no-repeat;
    width: 200px;
    height: 200px;
    padding-left: 200px;
    border-right: 3px solid #673AB7;
}

.cats_ebooks { background: url('categories/books.svg') no-repeat center; border-right: 3px solid #607D8B;}
img[alt="E-Books"] {
	display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('categories/books.svg') no-repeat;
    width: 200px;
    height: 200px;
    padding-left: 200px;
    border-right: 3px solid #607D8B;
}

.cats_elearningvideos { background: url('categories/elearning.svg') no-repeat center; border-right: 3px solid #673AB7;}
img[alt="E-Learning Videos"] {
	display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url('categories/mvid.svg') no-repeat;
    width: 200px;
    height: 200px;
    padding-left: 200px;
    border-right: 3px solid #673AB7;
}
